{{#each this}}
  <li class='film-card'>
    <img
    {{#if this.poster_path}}
      src='https://image.tmdb.org/t/p/w500/{{this.poster_path}}'
    {{else}}
    src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzSNZ9UiCgNz43gagy01RwckgkYJ_PrzL9Gw&usqp=CAU'
    width="500"
    height="750"

       {{/if}}
      alt=''
      loading='lazy'
    />
    <div class='info'>
      <p class='film-tittle'>
        {{this.original_title}}
      </p>
      <p class='film-genre'>
        {{#each genre_ids}} {{this}}{{#unless @last}}, {{/unless}}{{/each}}
        &#8739;
        {{this.release_date}}
      </p>
    </div>
  </li>
{{/each}}

{{! "results": [
        {
            "adult": false,
            "backdrop_path": "/kx2YVkcsnTnmF9XGTAj2NqEcHFG.jpg",
            "genre_ids": [
                28,
                53,
                878
            ],
            "id": 49530,
            "original_language": "en",
            "original_title": "In Time",
            "overview": "In the not-too-distant future the aging gene has been switched off. To avoid overpopulation, time has become the currency and the way people pay for luxuries and necessities. The rich can live forever, while the rest try to negotiate for their immortality. A poor young man who comes into a fortune of time, though too late to help his mother from dying. He ends up on the run from a corrupt police force known as 'time keepers'.",
            "popularity": 111.46,
            "poster_path": "/3Mwj2sIONQckOZP3YwsUXF7U5I4.jpg",
            "release_date": "2011-10-27",
            "title": "In Time",
            "video": false,
            "vote_average": 7,
            "vote_count": 9670
        }, }}